.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: rgb(237, 188, 54);
    width: 150px;
    min-height: 50px;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
    transition: filter 0.3s ease;
    filter: brightness(1);
}

button:hover {
    filter: brightness(0.8);
}

input {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin: 0;
    appearance: none;
    outline: none;
}