.filters-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.course-filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}